<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.pakhshyaran.plugin"
      version="0.1.0">
    <name>Tracking</name>
    <description>PhoneGap Plugin For Location Tracking</description>
    <license>MIT</license>
    <keywords>phonegap,location,tracking</keywords>


    <js-module src="www/tracking.js" name="Tracking">
        <clobbers target="window.tracking" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Tracking">
                <param name="android-package" value="com.pakhshyaran.plugin.Tracking"/>
            </feature>
        </config-file>

        <source-file src="src/android/Tracking.java" target-dir="src/com/pakhshyaran/plugin" />
     </platform>          
</plugin>