<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.hbabaie.mytracking"
      version="0.1.0">
    <name>MyTracking</name>
    <description>Sample PhoneGap MyTracking Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,mytracking</keywords>


    <js-module src="www/mytracking.js" name="MyTracking">
        <clobbers target="window.mytracking" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MyTracking">
                <param name="android-package" value="org.hbabaie.mytracking.MyTracking"/>
            </feature>
        </config-file>

        <source-file src="src/android/MyTracking.java" target-dir="src/org/hbabaie/mytracking" />
     </platform>          
</plugin>